### IRIS Classifier

In [1]:
#Importing the libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Import the dataset

data = pd.read_csv("iris.csv")

In [3]:
data.head() #Get the information of first 5 rows

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
#Drop the features which are not suitable or required

data.drop('Id', axis = 1, inplace = True)

In [5]:
data['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [6]:
#We are mapping species types into numerical format

data['Species'] = data['Species'].map({'Iris-setosa' :0,
                                      'Iris-versicolor':1,
                                      'Iris-virginica' :2})

data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [7]:
data.head(100)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0             5.1           3.5            1.4           0.2        0
1             4.9           3.0            1.4           0.2        0
2             4.7           3.2            1.3           0.2        0
3             4.6           3.1            1.5           0.2        0
4             5.0           3.6            1.4           0.2        0
..            ...           ...            ...           ...      ...
95            5.7           3.0            4.2           1.2        1
96            5.7           2.9            4.2           1.3        1
97            6.2           2.9            4.3           1.3        1
98            5.1           2.5            3.0           1.1        1
99            5.7           2.8            4.1           1.3        1

[100 rows x 5 columns]

In [8]:
x = data.drop('Species', axis = 1)

y = data['Species']

In [9]:
y.value_counts()

0    50
1    50
2    50
Name: Species, dtype: int64

In [10]:
#Split the dataset into training and test set

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 42)

In [11]:
#Identify the shape of the training models

print(x_train.shape, y_train.shape)

(120, 4) (120,)

In [13]:
#Train the data with the different models

#Random Forest

from sklearn.ensemble import RandomForestClassifier
model =  RandomForestClassifier()
model.fit(x_train, y_train)

RandomForestClassifier()

In [14]:
predict = model.predict(x_test)

In [15]:
model.score(x_test, y_test)

1.0

In [16]:
#Import pickle and create a supportive file for streamlit

import pickle

with open('final_session.pickle', 'wb') as f:
    pickle.dump(model, f)